.bg-aqua {
}
.bg-black {
}
.bg-blue {
}
.bg-fuchsia {
}
.bg-green {
}
.bg-lime {
}
.bg-maroon {
}
.bg-navy {
}
.bg-olive {
}
.bg-orange {
}
.bg-purple {
}
.bg-red {
}
.bg-silver {
}
.bg-gray {
}
.bg-teal {
}
.bg-white {
}
.bg-yellow {
}

.default-aqua {
}
.default-black {
}
.default-blue {
}
.default-fuchsia {
}
.default-gray {
}
.default-green {
}
.default-lime {
}
.default-maroon {
}
.default-navy {
}
.default-olive {
}
.default-orange {
}
.default-purple {
}
.default-red {
}
.default-silver {
}
.default-teal {
}
.default-white {
}
.default-yellow {
}

.aqua {
}
.blue {
}
.navy {
}
.teal {
}
.green {
}
.olive {
}
.lime {
}
.maroon {
}
.orange {
}
.purple {
}
.red {
}
.yellow {
}
.fuchsia {
}
.silver {
}
.gray {
}
.white {
}
.black {
}

.border--aqua {
}
.border--black {
}
.border--blue {
}
.border--fuchsia {
}
.border--green {
}
.border--lime {
}
.border--maroon {
}
.border--navy {
}
.border--olive {
}
.border--orange {
}
.border--purple {
}
.border--red {
}
.border--silver {
}
.border--gray {
}
.border--teal {
}
.border--white {
}
.border--yellow {
}
.fill-aqua {
  fill: #7fdbff;
}
.fill-black {
  fill: #111;
}
.fill-blue {
}
.fill-fuchsia {
}
.fill-green {
}
.fill-lime {
}
.fill-maroon {
}
.fill-navy {
}
.fill-olive {
}
.fill-orange {
}
.fill-purple {
}
.fill-red {
}
.fill-silver {
}
.fill-gray {
}
.fill-teal {
}
.fill-white {
}
.fill-yellow {
}
.stroke-aqua {
  stroke: #7fdbff;
}
.stroke-black {
  stroke: #111;
}
.stroke-blue {
  background-color: red;
}
.stroke-fuchsia {
}
.stroke-green {
}
.stroke-lime {
}
.stroke-maroon {
}
.stroke-navy {
}
.stroke-olive {
}
.stroke-orange {
}
.stroke-purple {
}
.stroke-red {
}
.stroke-silver {
}
.stroke-gray {
}
.stroke-teal {
}
.stroke-white {
}
.stroke-yellow {
}
